<div id="<%= dom_id user %>">
  <%= image_tag user.avatar.variant(resize_to_fill: [110, 110]), id: "avatar" if user.avatar.present? %>
  <p>
    <strong><%= User.human_attribute_name(:email) %>:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong><%= User.human_attribute_name(:name) %>:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong><%= User.human_attribute_name(:postal_code) %>:</strong>
    <%= user.postal_code %>
  </p>

  <p>
    <strong><%= User.human_attribute_name(:address) %>:</strong>
    <%= user.address %>
  </p>

  <p>
    <strong><%= User.human_attribute_name(:self_introduction) %>:</strong>
    <%= user.self_introduction %>
  </p>

</div>
