<div id="<%= dom_id user %>">
  <p>
    <strong><%= t("views.common.email") %>:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong><%= t("views.common.zipcode") %>:</strong>
    <%= user.zip_code %><br>
    <strong><%= t("views.common.address") %>:</strong>
    <%= user.address %>
  </p>

  <p>
    <strong><%= t("views.common.introduction") %>:</strong>
    <%= user.introduction %>
  </p>

</div>
