<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>
<div class="show-item">
  <%= render @report %>
  <% if @report.comments.empty? %>
    <p>コメントはまだありません</p>
  <% else %>
    <%= render 'comments/comments', commentable: @report, comments: @report.comments %>
  <% end %>
  <%= render 'comments/form', commentable: @report, comment: @comment %>
</div>
<div>
  <%= link_to "Edit this report", edit_report_path(@report) if report_author? %>
  <%= "|" if report_author? %>
  <%= link_to "Back to reports", reports_path %>

  <%= button_to "Destroy this report", @report, method: :delete if report_author? %>
</div>
