<%= render @report %>

<div>
  <%= link_to "Edit this report", edit_report_path(@report) if report_author? %>
  <%= "|" if report_author? %>
  <%= link_to "Back to reports", reports_path %>

  <%= button_to "Destroy this report", @report, method: :delete if report_author? %>
</div>
