<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= params[:action] %>">
    <p class="navbar-text pull-right">
      <% if user_signed_in? %>
        <%= t("views.common.logged_in_as_left") %>
        <strong><%= current_user.email %></strong>
        <%= t("views.common.logged_in_as_right") %>
        <%= link_to t('views.common.books'), books_path, class: 'navbar-link' %> |
        <%= link_to t('views.common.users'), users_path, class: 'navbar-link' %> |
        <%= link_to t('views.common.edit_profile'), edit_user_registration_path, class: 'navbar-link' %> |
        <%= link_to t('views.common.logout'), destroy_user_session_path, method: :delete, class: 'navbar-link' %>
      <% else %>
        <%= link_to t("views.common.sign_up"), new_user_registration_path, class: 'navbar-link' %> |
        <%= link_to t("views.common.login"), new_user_session_path, class: 'navbar-link' %>
      <% end %>
    </p>
    <%= yield %>
  </body>
</html>
